<!-- Show a loading spinner until dashboardStats is loaded -->
<div *ngIf="!dashboardStats" class="d-flex justify-content-center align-items-center" style="height: 80vh;">
  <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
      <span class="visually-hidden">Loading...</span>
  </div>
</div>

<section class="content" *ngIf="dashboardStats">
  <div class="content-block">
      <div class="block-header">
          <app-breadcrumb [title]="breadscrums[0].title" [items]="breadscrums[0].items"
              [active_item]="breadscrums[0].active">
          </app-breadcrumb>
      </div>

      <!-- Widgets -->
      <div class="row">
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
              <div class="card">
                  <div class="body">
                      <div class="row align-items-center">
                          <div class="col-md-4 mb-0">
                              <div class="recent-report__chart">
                                  <canvas baseChart height="180px" width="180px" class="chart"
                                      [data]="doughnutChartData" [labels]="doughnutChartLabels"
                                      [options]="doughnutChartOptions" [type]="doughnutChartType"></canvas>
                              </div>
                          </div>
                          <div class="col-md-8">
                              <h4>
                                  <div class="weight-600 col-pink pt-1">Good Job, {{ username }}. Keep Going!!</div>
                              </h4>
                              <p class="font-15 max-width-600">Your topics are {{ topicCompletionPercentage }}% completed.
                                  Progress is looking great!
                              </p>
                              <div class="row">
                                  <div class="col-lg-6">
                                      <div><i class="fa fa-circle dot1 msr-2"></i> Total Topics: {{ dashboardStats.topics.total }}</div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div><i class="fa fa-circle dot2 msr-2"></i> Completed: {{ dashboardStats.topics.completed }}</div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div><i class="fa fa-circle dot3 msr-2"></i> Revision Due: {{ dashboardStats.notes.dueForRevision }}</div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div><i class="fa fa-circle dot4 msr-2"></i> Avg. Score: {{ dashboardStats.mockInterviews.averageScore }}</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="card l-bg-orange p-2 px-4 text-white py-3">
                  <div class="info d-flex justify-content-between align-items-center">
                      <div class="d-flex flex-column text-white font-18"> <span>Total Learning Time</span>
                          <small class="mt-2"><i class="fas fa-history msr-2"></i> {{ dashboardStats.timeSpent.hours }}h {{ dashboardStats.timeSpent.minutes }}m</small>
                      </div>
                  </div>
              </div>
              <!-- RESTORED: Card for total mock interviews -->
              <div class="card l-bg-green p-2 px-4 text-white py-3">
                   <div class="info d-flex justify-content-between align-items-center">
                       <div class="d-flex flex-column text-white font-18"> <span>Total Mock Interviews</span>
                           <small class="mt-2"><i class="fas fa-chalkboard-teacher msr-2"></i> {{ dashboardStats.mockInterviews.total }} sessions completed.</small>
                       </div>
                   </div>
              </div>
              <div class="card l-bg-purple p-2 px-4 text-white py-3">
                  <div class="info d-flex justify-content-between align-items-center">
                      <div class="d-flex flex-column text-white font-18"> <span>Upcoming Deadlines</span>
                          <small class="mt-2"><i class="far fa-clock msr-2"></i> You have {{dashboardStats.deadlines.upcoming}} pending deadlines.</small>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- #END# Widgets -->

      <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="card">
                  <div class="header">
                      <h2>Time Spent On Learning</h2>
                  </div>
                  <div class="body">
                      <apx-chart [series]="barChartOptions.series!" [chart]="barChartOptions.chart!"
                          [dataLabels]="barChartOptions.dataLabels!" [plotOptions]="barChartOptions.plotOptions!"
                          [responsive]="barChartOptions.responsive!" [xaxis]="barChartOptions.xaxis!"
                          [grid]="barChartOptions.grid!" [legend]="barChartOptions.legend!"
                          [fill]="barChartOptions.fill!"></apx-chart>
                  </div>
              </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
               <div class="card">
                  <div class="header">
                      <h2>Your Topic Progress</h2>
                  </div>
                  <div class="tableBody">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th>Subject</th>
                                      <th>Progress</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  @for (topic of dashboardStats.topProgressingTopics; track topic.name) {
                                      <tr>
                                          <td>{{ topic.name }}</td>
                                          <td>{{ topic.progress }}%
                                              <mat-progress-bar mode="determinate" [value]="topic.progress"
                                                [color]="topic.progress < 50 ? 'warn' : 'primary'">
                                              </mat-progress-bar>
                                          </td>
                                      </tr>
                                  }
                                  @if (!dashboardStats.topProgressingTopics || dashboardStats.topProgressingTopics.length === 0) {
                                      <tr>
                                          <td colspan="2" class="text-center">No topic progress to show yet.</td>
                                      </tr>
                                  }
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row clearfix">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="card">
                  <div class="header">
                      <h2>Mock Interview Results</h2>
                  </div>
                  <div class="body">
                      <apx-chart [series]="areaChartOptions.series!" [chart]="areaChartOptions.chart!"
                          [xaxis]="areaChartOptions.xaxis!" [yaxis]="areaChartOptions.yaxis!"
                          [colors]="areaChartOptions.colors!" [stroke]="areaChartOptions.stroke!"
                          [legend]="areaChartOptions.legend!" [grid]="areaChartOptions.grid!"
                          [tooltip]="areaChartOptions.tooltip!" [dataLabels]="areaChartOptions.dataLabels!"></apx-chart>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
