<div class="addContainer">

  <div class="modalHeader">
    <div class="modalTitle">{{ note.title }}</div>
    <button mat-icon-button (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content>
    <div class="quill-container-readonly">
      <quill-editor
        [ngModel]="note.content"
        [modules]="quillEditorModules"
        [readOnly]="true">
      </quill-editor>
    </div>
  </div>

  <!-- 🔥 Language Selector -->
  <div class="language-toggle">
    <label>
      <input type="radio" name="lang" value="english" [(ngModel)]="selectedLang" />
      English
    </label>

    <label>
      <input type="radio" name="lang" value="hinglish" [(ngModel)]="selectedLang" />
      Hinglish
    </label>
  </div>

  <div mat-dialog-actions class="modal-actions">

    <button mat-icon-button (click)="previousChunk()">
      <mat-icon>skip_previous</mat-icon>
    </button>

    <button mat-icon-button (click)="speakWithAI()" [disabled]="isLoading">
      <mat-icon>smart_toy</mat-icon>
    </button>

    <button mat-icon-button (click)="nextChunk()">
      <mat-icon>skip_next</mat-icon>
    </button>

    <button mat-flat-button color="primary" (click)="onRevisionComplete()">
      @if (isLoading) {
        <mat-progress-spinner diameter="20"></mat-progress-spinner>
      } @else {
        Revision Complete
      }
    </button>

  </div>
</div>
